[submodule "report"]
	path = report
	url = https://git.overleaf.com/5c499feb95d38a3a6ff8fe45
[submodule "robotic_warehouse"]
	path = robotic_warehouse
	url = https://github.com/kex2019/robotic_warehouse.git
[submodule "strategies/baselines_random"]
	path = strategies/baselines_random
	url = https://github.com/kex2019/baselines_random.git
[submodule "utilities"]
	path = utilities
	url = https://github.com/kex2019/utilities.git
[submodule "strategies/baselines_greedy_closest_wares"]
	path = strategies/baselines_greedy_closest_wares
	url = git@github.com:kex2019/baselines_greedy_closest_wares.git
